#!/bin/bash

#===========#
#   FONTS   #
#===========#

# Normal Font: profont (from Arch repos)
FONT="-nil-profont-medium-r-normal--10-110-72-72-c-60-iso8859-1"

# Iconic Font: siji (from AUR) 
FONTICON="-wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1"


#===========#
#   COLOR   #
#===========#

BGCOLOR="#2D2D2D"
FGCOLOR=""

#===========#
#   ICONS   #
#===========#

desktop="\U00E009"
clock="\U00E018"
internet="\U00E26D"
sound="\U00E1C9"

#===========#
#   TEXT    #
#===========#

LEFT="$desktop"
CENTER="$clock"
RIGHT="$internet $sound"

#============#
#  LEMONBAR  #
#============#

echo -e "%{l}$LEFT %{c}$CENTER %{r}$RIGHT" |\
    lemonbar -p -b\
    -f "$FONT" -f "$FONTICON"\
    -B "$BGCOLOR"
